ansicon==1.89.0
appdirs==1.4.4
APScheduler==3.6.3
arrow==0.17.0
asgiref==3.3.1
blessed==1.17.12
distlib==0.3.1
Django==3.1.4
django-picklefield==3.0.1
django-tables2==2.3.3
filelock==3.0.12
jinxed==1.0.1
pygame==2.0.0
python-dateutil==2.8.1
pytz==2020.4
redis==3.5.3
six==1.15.0
sqlparse==0.4.1
tzlocal==2.1
virtualenv==20.2.1
wcwidth==0.2.5

